@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300;400;600;700;800;900&display=swap');

:root{
    --bg-primary: #fff;
    --bg-secondary: #333333;
    --bg-accent: #5349BE;
    --bg-grey: #F4F7FA;
}


.bg-grey{
    background-color: var(--bg-grey) !important;
    border-color: var(--bg-grey) !important;
}

.text-accent {
    color: var(--bg-accent) !important
}

.text-secondary{
    color: var(--bg-secondary) !important;
}

.btn-primary {
    background-color: var(--bg-accent) !important;
    border-color: var(--bg-accent) !important;
    color: var(--bg-primary) !important;
    font-weight: 600;
}

.btn-secondary {
    background-color: var(--bg-primary) !important;
    border-color: var(--bg-primary) !important;
    color: var(--bg-secondary) !important;
    font-weight: 600;
}

.btn-primary:hover{
    background-color: var(--bg-accent) !important;
    opacity: 0.7;
}

.btn-outline-primary{
    border-color: var(--bg-accent) !important;
    color: var(--bg-accent) !important;
    font-weight: 600;
}

.btn-outline-primary:hover{
    background-color: var(--bg-accent) !important;
    border-color: var(--bg-accent) !important;
    color: var(--bg-primary) !important;
    font-weight: 600;
}

.border-bottom{
    border-bottom: 0.5px solid#2D2D2D !important;
}


body{
    background-color: var(--bg-primary);
    color: var(--bg-secondary);
    font-family: 'Poppins', sans-serif;
}

.offcanvas.offcanvas-end{
    width: 350px !important;
}

.hero{
    padding-top: 4.5rem;
}

.blob{
    position: absolute;
    background-image: url('../images/hero-blob.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50rem;
    height: 55rem;
    z-index: -1;
    bottom: -11rem;
    left: -42rem;
}

h1{
    width: 80%;
    margin: 0 auto;
}

.content p,
.cta-text{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

section,
.section{
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
}

.font-small {
    font-size: 13px;
}

.navbar-nav .nav-link.active{
    color: var(--bg-secondary);
}

.navbar-nav .nav-link.active::after,
.navbar-nav .nav-link:hover::after{
    display: block;
    margin-top: 7px;
    content: '';
    width: 50%;
    border-bottom: 2px solid var(--bg-secondary);
}


.steps-wrapper{
    max-width: 330px;
}

.steps {
    background-color: var(--bg-grey);
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.steps p {
    font-size: 20px;
}

section.how-it-works{
    gap: 14rem;
}

.dotted-blob{
    position: absolute;
    background-image: url('../images/dotted-blob.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 8.5rem;
    height: 9.5rem;
    z-index: -1;
    top: -1.4rem;
    right: 0;
}

.video-section-bg{
    overflow-x: clip;
    padding-bottom: 6rem;
    background-image: url('../images/BG.svg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.video-section.dotted-blob{
    position: absolute;
    background-image: url('../images/dotted-blob.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 9.9rem;
    height: 11rem;
    z-index: 100;
    top: -2.5rem;
    left: -2rem;
}

.video-section.dotted-blob-2{
    position: absolute;
    background-image: url('../images/dotted-blob.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 9.9rem;
    height: 11rem;
    z-index: 100;
    bottom: -6rem;
    right: -2rem;
}

.video-section-bg .img-fluid{
    width: 900px;
    margin-top: -7rem;
}

.why-choose-us-card{
    max-width: 30rem;
}

.carousel-indicator{
    width: 15px;
    height: 15px;
    background-color:  #DDE0E4;
    border-radius: 50%;
}

.carousel-indicator.active{
    width: 30px;
    border-radius: 1rem;
    background-color: var(--bg-secondary);
}

.cta{
    background-color: var(--bg-accent);
    padding: 7rem 1.5rem;
    width: 90%;
    max-width: 1224px;
}






@media screen and (min-width: 1600px) {
    .blob{
        width: 50rem;
        height: 51rem;
        z-index: -1;
        bottom: -9rem;
        left: -36rem;
    }

    section.how-it-works{
        align-items: center;
        gap: 20rem;
    }

    .dotted-blob{
        right: 51rem;
    }

    .video-section-bg{
        background-size: contain;
        width: 1320px;
    }

    .video-section-bg .img-fluid{
        width: 1000px;
        margin-top: -13rem;
    }
}

@media screen and (max-width: 1200px) {
    section.how-it-works{
        gap: 13rem;
    }

    .video-section-bg{
        padding-bottom: 5rem;
    }

    .video-section-bg .img-fluid{
        width: 70%;
    }
}

@media screen and (max-width: 1130px) {
    .blob{
        left: -36rem;
    }
}

@media screen and (max-width: 991px) {
    h1{
        width: 100%;
    }

    .blob{
        width: 43rem;
        height: 43rem;
        bottom: -10rem;
        left: -34rem;
    }

    section.how-it-works{
        gap: 12rem;
    }

    .video-section.dotted-blob{
        width: 7.4rem;
        height: 8.3rem;
        z-index: 100;
        top: -3rem;
        left: -2rem;
    }

    .video-section.dotted-blob-2{
        width: 7.4rem;
        height: 8.3rem;
        z-index: 100;
        bottom: -4.5rem;
        right: -2rem;
    }

    .benefit-icon {
        width: 40px !important;
        height: 40px !important;
    }

    .cta{
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}

@media screen and (max-width: 830px) {
    .blob{
        left: -30rem;
    }
}


@media screen and (max-width: 767px) {
    .hero{
        padding-top: 3rem;
    }

    .blob{
        width: 35rem;
        height: 37rem;
        left: -29rem;
    }

    .dotted-blob{
        width: 5.5rem;
        height: 6.2rem;
    }

    .video-section-bg{
        z-index: 101;
    }

    .video-section.dotted-blob{
        z-index: -100;
    }


    .steps {
        width: 45px;
        height: 45px;
    }

    .video-section-bg .img-fluid{
        width: 80%;
    }

    p.text-accent{
        font-size: 13px;
    }
    
}

@media screen and (max-width: 650px) {
    .heading-wrapper{
        text-align: left !important;
    }

    .card.border{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 630px) {
    .blob{
        left: -27rem;
    }
}

@media screen and (max-width: 575px) {
    section,
    .section{
        padding-top: 2.375rem;
        padding-bottom: 2.375rem;
    }

    .hero{
        padding-top: 1rem;
    }

    .blob{
        width: 30rem;
        height: 33rem;
        left: -20rem;
        bottom: -7rem;
    }

    .dotted-blob{
        top: 0;
        right: -1rem;
    }

    section.how-it-works{
        overflow-x: clip;
        gap: 7rem;
    }

    .video-section-bg{
        padding-bottom: 3rem;
    }

    .video-section.dotted-blob{
        width: 8.4rem;
        height: 9.3rem;
        top: -5rem;
        left: -2rem;
    }

    .video-section.dotted-blob-2{
        width: 8.4rem;
        height: 9.3rem;
        bottom: -3.5rem;
        right: -2rem;
    }

    .video-section-bg .img-fluid{
        margin-top: -3rem;
        z-index: 101;
    }

    .cta {
        width: 100%;
        border-radius: 0 !important;
    }
}

@media screen and (max-width: 550px) {
    .blob{
        bottom: -8rem;
    }

    .video-section.dotted-blob {
        width: 6.5rem;
        height: 7.3rem;
        top: -4rem;
        left: -1rem;
    }

    .video-section.dotted-blob-2 {
        width: 6.5rem;
        height: 7.3rem;
        bottom: -2.5rem;
        right: -1rem;
    }
}

@media screen and (max-width: 500px) {
    .blob{
        bottom: -9rem;
    }
}

@media screen and (max-width: 470px) {
    .blob{
        width: 25rem;
        height: 27rem;
        left: -17rem;
        bottom: -6rem;
    }

    section.how-it-works{
        gap: 8rem;
    }

    .video-section.dotted-blob {
        top: -5rem;
        left: -1.7rem;
    }

    .video-section.dotted-blob-2 {
        bottom: -2.2rem;
        right: -1.7rem;
    }

    .video-section-bg .img-fluid{
        margin-top: -4rem;
    }

    .card.border{
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    section.how-it-works{
        gap: 7rem;
    }

    .contact-wrapper{
        flex-direction: column-reverse !important;
    }

    .contact{
        width: 240px;
    }
}

@media screen and (max-width: 430px) {
    .blob{
        bottom: -7rem;
    }
}

@media screen and (max-width: 400px) {
    .blob{
        width: 22rem;
        height: 24rem;
        left: -16rem;
        bottom: -6rem;
    }
}

@media screen and (max-width: 370px) {
    .video-section-bg{
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 360px) {
    .blob{
        bottom: -7rem;
    }
}

@media screen and (max-width: 340px) {
    .blob{
        width: 20rem;
        height: 23rem;
    }
}
